@{
    ViewData["Title"] = "Contacto Page";
}

    <div class="sobre-nosotros">
    
        <img src="/imagenes/imagen-contacto.jpg" alt="Oreja con piercings">
        <div>
            <h2 class="display-4">Sobre nosotros</h2>
            <p>
                Adorn-Me una empresa de piercings creada en 2023 por un grupo de jóvenes profesionales con una pasión por el piercing seguro y de alta calidad. La idea de crear Piercings Clean surgió de la experiencia personal de uno de nuestros fundadores, quien sufrió una infección grave tras hacerse un piercing en un estudio de mala calidad. Este incidente le inspiró a crear una empresa que ofreciera perforaciones seguras y limpias, utilizando los mejores materiales y técnicas disponibles. Nuestro objetivo es ofrecer a nuestros clientes la mejor experiencia posible en el piercing. Para ello, nos comprometemos a utilizar los mejores materiales y técnicas disponibles para garantizar la seguridad y la calidad de nuestras perforaciones, contar con un equipo de piercers profesionales y experimentados que estén capacitados para realizar perforaciones de forma segura y eficaz, ofrecer un servicio personalizado y de atención al cliente de alta calidad.
            </p>
        </div>
    </div>
        <h2>Nuestra historia</h2>
        <p>
            Adorn-Me es una empresa joven, pero con una gran pasión por el piercing. Estamos comprometidos a ofrecer a nuestros clientes la mejor experiencia posible, y estamos seguros de que podemos convertirnos en la empresa de piercings líder en el mercado.
    </p>
    
    
<div class="text-center">
    <h2>Nuestras sedes</h2>
    <div class="card-contenedores">
     @{
                    foreach(Negocio sede in @ViewBag.Lugares){
                        <div class="card-contenedor">
                            <div  style="width: 18rem;">
                                    <div class="card-body-mio">
                                        <h5 class="card-title">@sede.Nombre</h5>
                                        <p class="card-text">@sede.Direccion</p>
                                        <a href="#" class="btn btn-primary">Más información</a>
                                    </div>
                                </div>
                        </div>
                        }
                        }
    </div>
        
    <h2>¡Contactanos!</h2>
    <ul>
        <li>Telefono: HAY QUE PONERLO DE LA BASE DE DATOS</li>
        <li>Sábados y domingos: 10:00 a 16:15</li>
   </ul>    
   <h2>Horarios</h2>
    <ul>
        <li>Martes a viernes: 9:00 a 23:30</li>
        <li>Sábados y domingos: 10:00 a 16:15</li>
   </ul>
    
</div>
