@{
    ViewData["Title"] = "Contacto Page";
}

    <div class="sobre-nosotros">
    
        <img src="/imagenes/imagen-contacto.jpg" alt="Oreja con piercings">
        <div>
            <h1>Sobre nosotros</h1>
            <p>
                Adorn-Me una empresa de piercings creada en 2023 por un grupo de jóvenes profesionales con una pasión por el piercing seguro y de alta calidad. La idea de crear Piercings Clean surgió de la experiencia personal de uno de nuestros fundadores, quien sufrió una infección grave tras hacerse un piercing en un estudio de mala calidad. Este incidente le inspiró a crear una empresa que ofreciera perforaciones seguras y limpias, utilizando los mejores materiales y técnicas disponibles. Nuestro objetivo es ofrecer a nuestros clientes la mejor experiencia posible en el piercing. 
            </p>
        </div>
    </div>
    
    
<div class="text-center">
    <h1>Nuestras sedes</h1>

    <div class="card-contenedores">
     @{
                    foreach(Negocio sede in @ViewBag.Lugares){
                        <div class="card-contenedor">
                            <div  style="width: 18rem;">
                                    <div class="card-body-mio">
                                        <h3>@sede.Nombre</h3>
                                        <h5>@sede.Direccion</h5>
                                        <a class="boton" href='@Url.Action("Lugar", "Home", new {idNegocio = sede.IdNegocio})'>Más información</a>
                                    </div>
                                </div>
                        </div>
                        }
                        }
    </div>
    
</div>
