@{
    ViewData["Title"] = "Reserva Page";
}

<div class="text-center centrar">
    <h1 class="display-4">¡Reserva tu turno!</h1>

<div class="form-container">
      <form class="form" id="formulario">
        <div class="form-group">
          <div class="input-box">
            <label>Nombre</label>
            <input required="" placeholder="Enter full name" type="text" id="Nombre" name="Nombre">
        </div>
        <div class="input-box">
            <label>Apellido</label>
            <input required="" placeholder="Enter full name" type="text" id="Apellido" name="Apellido">
        </div>
        <div class="column">
          <div class="input-box">
            <label>Numero de telefono</label>
            <input required="" placeholder="Enter phone number" type="telephone" id="numero" name="numero">
          </div>
          <div class="input-box">
            <label>Fecha de reserva</label>
            <input required="" placeholder="Enter birth date" type="date" id="Fecha" name="Fecha">
          </div>
          <div class="select-box">
          <label>Elegí un aro</label>
            <select>
              <option hidden="">Seleccionar</option>
              @foreach(Piercing p in ViewBag.Aros)
              {
                <option id="@p.IdPiercing" name="Aro">@p.Nombre</option>
              } 
            </select>
          </div>
      </div>
        <button class="form-submit-btn" type="button" onclick="EnviarFormulario()">Submit</button>
      </form>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="informacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTittle">Tu reserva fue confirmada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="texto_informacion" class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="EliminarReserva()" class="btn btn-secondary" data-bs-dismiss="modal">Eliminar Reserva</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>
