@{
    ViewData["Title"] = "Reserva Page";
}

<div class="text-center centrar">
    <h1 class="display-4">¡Reserva tu turno!</h1>

<div class="form-container">
      <form class="form" id="formulario">
        <div class="form-group">
          <div class="input-box">
            <label>Nombre</label>
            <input required="" placeholder="Enter full name" type="text" id="Nombre" name="Nombre">
        </div>
        <div class="input-box">
            <label>Apellido</label>
            <input required="" placeholder="Enter full name" type="text" id="Apellido" name="Apellido">
        </div>
        <div class="column">
          <div class="input-box">
            <label>Mail</label>
            <input required="" placeholder="Enter mail" type="text" id="Mail" name="Mail">
          </div>
          <div class="input-box">
            <label>Edad</label>
            <input required="" placeholder="Enter edad" type="number" id="Edad" name="Edad">
          </div>
          <div class="select-box">
          <label>Elegí un aro</label>
            <select name="Aro">
              <option hidden="">Seleccionar</option>
              @foreach(Piercing p in ViewBag.Aros)
              {
                <option value="@p.IdPiercing" >@p.Nombre</option>
              } 
            </select>
          </div>
          <div class="select-box">
          <label>Elegí la sede</label>
            <select name="Negocio">
              <option hidden="">Seleccionar</option>
              @foreach(Negocio n in ViewBag.Lugares)
              {
                <option value="@n.IdNegocio" >@n.Nombre</option>
              } 
            </select>
          </div>
          <div class="input-box">
            <label>Fecha de reserva</label>
            <input required="" type="date" id="Fecha" name="Fecha">
          </div>
      </div>
        <button class="form-submit-btn" type="button" data-bs-toggle="modal" data-bs-target="#informacion" onclick="EnviarFormulario()">Submit</button>
      </form>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="informacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTittle">Tu reserva fue confirmada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="texto_informacion" class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#informacion" onclick="EliminarReserva()">Eliminar Reserva</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmarReservaBtn">Confirmar Reserva</button>
      </div>
    </div>
  </div>
</div>
