@{
    ViewData["Title"] = "Reserva eliminada";
}

<div class="text-center">
    <h1>Tu reserva ha sido eliminada</h1>
    <p>¡Esperamos tu próxima reserva!</p>
    <a class="boton" asp-area="" asp-controller="Home" asp-action="Reserva">Volver a reservar</a>
</div>