@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


header, footer{
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  
}

footer{margin-top: auto;
  margin-top: auto;
  box-sizing: border-box;
  width: 100%;}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #000000;
}

.centrar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

.select-box select {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: #232425;
  border: 1px solid #414141;
}

.logo{
  height: auto;
  width: 45px;
}



header li a{
  font-family: 'Tilt Neon', sans-serif;
  font-size: 26px;
  color: #f6ccfa;
  text-decoration: none;
  margin: 10px;
  display: flex;
  
}

footer li a, footer li{
  font-family: 'Tilt Neon', sans-serif;
  font-size: 20px;
  color: #f6ccfa;
  text-decoration: none;
  margin: 10px;
  width: fit-content;
}

.vinculo-header{
  display: flex;
  justify-content: flex-end;
  margin-left: 1150px;
}

li a:hover{
  color: #fde3ff ;
}

h1{
  color: #f6ccfa;
  font-family: 'Tilt Neon', sans-serif;
}

p{
  font-size: 20px;
  color: #feefff;
  font-family:'Rubik', sans-serif;;
}

h2,h3,h4,h5{
  color: #feeeff;
  font-family: 'Tilt Neon', sans-serif;
}

h4{
  width: 800px; 
  height: auto;
  padding: 20px;
  font-size: 20px;
}

h5{
  padding-bottom: 20px;
  font-size: 24px;
}

.home-principal {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}
.carrusel{
  width: 350px;
  height: auto;
}

.titulo-principal{
  font-family: 'Tilt Neon', sans-serif;
  font-size: 80px;
  font-weight: 500;
  color:#fff;
  
  display: flex;
  flex-direction:row; 
}

.ante-titulo-sombra{
  text-shadow: 0 0 5px #e81cff, 0 0 25px #e81cff, 0 0 50px #e81cff, 0 0 100px #e81cff;
  margin-left: 20px;
}


.subtitulo-principal{
  font-family: 'Tilt Neon', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color:#fff;
  text-shadow: 0 0 5px #e81cff, 0 0 25px #e81cff, 0 0 50px #e81cff, 0 0 100px #e81cff;
  letter-spacing: 5px;
}

.subsubtitulo-principal{
  font-family: 'Tilt Neon', sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 5px;
  padding-bottom: 40px;
}

.footer-contenedor ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boton-index{
  margin: 20px;
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  background-color: #e81cff;
  color: #fde3ff;
  font-family: 'Tilt Neon', sans-serif;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 60px;
}



.boton{
  margin: 10px;
  margin-top: 10px;
  font-size: 20px;
  padding: 15px;
  background-color: #e81cff;
  color: #fde3ff;
  font-family: 'Tilt Neon', sans-serif;
  border-radius: 15px;
  text-decoration: none;
}

.boton-index:hover{
  background-color: #f091fa;
  color: #fde3ff;

}

.boton:hover{
  background-color: #f091fa;
  color: #fde3ff;
}

body {
  margin-bottom: 60px;
  background-color: #000000;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-wrap: wrap;
}

.card-contenedor{
  width: 310px;
  height: auto;
  background-color: #000000;
  padding-bottom: 24px;
  
}

.card-contenedores{
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;


}

.card-body-mio{
  padding: 40px;
  background-color: #1d031f;
  border: #232425;

}

.sobre-nosotros{
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-bottom: 15px;
  width: 1200px;
  height: auto;
}

.sobre-nosotros img {
  height: 400px;
  width: auto;
  padding: 60px;
}



.card-catalogo{
  padding: 20px;
  max-width: 33.33%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.card-catalogo img{
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 300px;


}



/* BOTON DE LIKES */

.heart-container {
  --heart-color: rgb(255, 91, 239);
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
  background-color: #000000;
  position: absolute;
  left: 40px;
  bottom: 20px;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
  background-color: #000000;
  top:0;
  left:0;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
  
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
  
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
  
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
  
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
  
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

button{
  background-color: #000000;
  border-radius: 0%;
}

.h6{
  color: #000000;
}



.mapa{
  padding-top: 20px;
  padding-bottom: 30px;
}